/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Site Styles
  #Typography
  #Links
  #Lists
  #Images
  #Buttons
  #Forms
  #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
.sigal-colorbox div,
.sigal-colorbox span,
.sigal-colorbox applet,
.sigal-colorbox object,
.sigal-colorbox iframe,
.sigal-colorbox h1,
.sigal-colorbox h2,
.sigal-colorbox h3,
.sigal-colorbox h4,
.sigal-colorbox h5,
.sigal-colorbox h6,
.sigal-colorbox p,
.sigal-colorbox blockquote,
.sigal-colorbox pre,
.sigal-colorbox a,
.sigal-colorbox abbr,
.sigal-colorbox acronym,
.sigal-colorbox address,
.sigal-colorbox big,
.sigal-colorbox cite,
.sigal-colorbox code,
.sigal-colorbox del,
.sigal-colorbox dfn,
.sigal-colorbox em,
.sigal-colorbox img,
.sigal-colorbox ins,
.sigal-colorbox kbd,
.sigal-colorbox q,
.sigal-colorbox s,
.sigal-colorbox samp,
.sigal-colorbox small,
.sigal-colorbox strike,
.sigal-colorbox strong,
.sigal-colorbox sub,
.sigal-colorbox sup,
.sigal-colorbox tt,
.sigal-colorbox var,
.sigal-colorbox b,
.sigal-colorbox u,
.sigal-colorbox i,
.sigal-colorbox center,
.sigal-colorbox dl,
.sigal-colorbox dt,
.sigal-colorbox dd,
.sigal-colorbox ol,
.sigal-colorbox ul,
.sigal-colorbox li,
.sigal-colorbox fieldset,
.sigal-colorbox form,
.sigal-colorbox label,
.sigal-colorbox legend,
.sigal-colorbox table,
.sigal-colorbox caption,
.sigal-colorbox tbody,
.sigal-colorbox tfoot,
.sigal-colorbox thead,
.sigal-colorbox tr,
.sigal-colorbox th,
.sigal-colorbox td,
.sigal-colorbox article,
.sigal-colorbox aside,
.sigal-colorbox canvas,
.sigal-colorbox details,
.sigal-colorbox embed,
.sigal-colorbox figure,
.sigal-colorbox figcaption,
.sigal-colorbox footer,
.sigal-colorbox header,
.sigal-colorbox hgroup,
.sigal-colorbox menu,
.sigal-colorbox nav,
.sigal-colorbox output,
.sigal-colorbox ruby,
.sigal-colorbox section,
.sigal-colorbox summary,
.sigal-colorbox time,
.sigal-colorbox mark,
.sigal-colorbox audio,
.sigal-colorbox video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
.sigal-colorbox article,
.sigal-colorbox aside,
.sigal-colorbox details,
.sigal-colorbox figcaption,
.sigal-colorbox figure,
.sigal-colorbox footer,
.sigal-colorbox header,
.sigal-colorbox hgroup,
.sigal-colorbox menu,
.sigal-colorbox nav,
.sigal-colorbox section {
    display: block; }
.sigal-colorbox body {
    line-height: 1; }
.sigal-colorbox ol, .sigal-colorbox ul {
    list-style: none; }
.sigal-colorbox blockquote, .sigal-colorbox q {
    quotes: none; }
.sigal-colorbox blockquote:before, .sigal-colorbox blockquote:after,
.sigal-colorbox q:before, .sigal-colorbox q:after {
    content: '';
    content: none; }
.sigal-colorbox table {
    border-collapse: collapse;
    border-spacing: 0; }


/* #Typography
================================================== */
  .sigal-colorbox h1 a, .sigal-colorbox h2 a, .sigal-colorbox h3 a, .sigal-colorbox h4 a, .sigal-colorbox h5 a, .sigal-colorbox h6 a { font-weight: inherit; }

  .sigal-colorbox p { margin: 0 0 20px 0; }
  .sigal-colorbox p img { margin: 0; }

  .sigal-colorbox em { font-style: italic; }
  .sigal-colorbox strong { font-weight: bold; }
  .sigal-colorbox small { font-size: 80%; }

/*  Blockquotes  */
  .sigal-colorbox blockquote, .sigal-colorbox blockquote p { font-style: italic; }
  .sigal-colorbox blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
  .sigal-colorbox blockquote cite { display: block; }
  .sigal-colorbox blockquote cite:before { content: "\2014 \0020"; }
  .sigal-colorbox blockquote cite a, .sigal-colorbox blockquote cite a:visited, .sigal-colorbox blockquote cite a:visited { color: #555; }

  .sigal-colorbox hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
  .sigal-colorbox a, .sigal-colorbox a:visited { text-decoration: underline; outline: 0; }
  .sigal-colorbox p a, .sigal-colorbox p a:visited { line-height: inherit; }


/* #Lists
================================================== */
  .sigal-colorbox ul, .sigal-colorbox ol { margin-bottom: 20px; }
  .sigal-colorbox ul { list-style: none outside; }
  .sigal-colorbox ol { list-style: decimal; }
  .sigal-colorbox ol, .sigal-colorbox ul.square, .sigal-colorbox ul.circle, .sigal-colorbox ul.disc { margin-left: 30px; }
  .sigal-colorbox ul.square { list-style: square outside; }
  .sigal-colorbox ul.circle { list-style: circle outside; }
  .sigal-colorbox ul.disc { list-style: disc outside; }
  .sigal-colorbox ul ul, .sigal-colorbox ul ol,
  .sigal-colorbox ol ol, .sigal-colorbox ol ul { margin: 4px 0 5px 30px; }
  .sigal-colorbox ul ul li, .sigal-colorbox ul ol li,
  .sigal-colorbox ol ol li, .sigal-colorbox ol ul li { margin-bottom: 6px; }
  .sigal-colorbox li { line-height: 18px; margin-bottom: 12px; }
  .sigal-colorbox ul.large li { line-height: 21px; }
  .sigal-colorbox li p { line-height: 21px; }

/* #Images
================================================== */

  .sigal-colorbox img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Misc
================================================== */
  .sigal-colorbox .remove-bottom { margin-bottom: 0 !important; }
  .sigal-colorbox .half-bottom { margin-bottom: 10px !important; }
  .sigal-colorbox .add-bottom { margin-bottom: 20px !important; }


  .sigal-colorbox * {
    box-sizing: content-box;
  }
