{% extends "base.html" %}
{% set media_title = media.title if media.title else media.filename %}
{% block frontmatter %}
---
layout: main
title: {{ media_title }}
permalink: /:path/:basename.html
image: <img class="search-image" src="{{ settings.gallery_path }}{{ settings.dest_url }}{{ album.url }}{{ media.thumbnail }}" width="{{ settings.thumb_size[0]//2 }}" height="{{ settings.thumb_size[1]//2 }}"/>
excerpt: {{ media.description if media.description else "" }}
---
{% endblock %}
{% block content %}
  <header>
    {% if album.breadcrumb %}
    <h2>
      {% for url, title in album.breadcrumb %}
      <a href="{{ url }}">{{ title }}</a> »
      {% endfor -%}
      <a href="#">{{ media_title }}</a>
    </h2>
    <hr>
    {% endif %}
  </header>

  {% if media %}
      <div class="twelve columns thumbnail">
      {% if media.type == "image" %}

      {% if settings.keep_orig %}
      <a href="original/{{ media.filename }}">
        <img src="{{ media.filename }}" alt="{{ media_title }}" title="{{ media_title }}" />
      </a>
      {% else %}
        <img src="{{ media.filename }}" alt="{{ media_title }}" title="{{ media_title }}" />
      {% endif %}

      {% endif %}
      {% if media.type == "video" %}
        <video controls>
          <source src='{{ media.filename }}' type='video/webm' />
        </video>
      {% endif %}
      </div>

      <div style="text-align: center;" class="twelve columns">
        {{ media.description if media.description else media.title }} {% if settings.keep_orig %}<a href="original/{{ media.filename }}">[Original photo]</a>{% endif %}
      </div>
  {% endif %}

  <div class="two columns offset-by-four">
    {% if previous_media %}
    <a href="{{ previous_media.filename }}.html">« previous</a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>

  <div class="two columns">
    {% if next_media %}
    <a href="{{ next_media.filename }}.html">next »</a>
    {% endif %}
  </div>

{% endblock %}
